{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Game</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'quiz_app:home' %}">Home</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        <p>&copy; 2023 Quizzler</p>
    </footer>
    
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>